<div class="card" *ngIf="loading">
  <div class="card-body">
    <div class="todo-list skeleton" *ngFor="let todo of [0,1,2,4]">
      <div class="sk-aim" style="width: 20px;height:20px"></div>
      <span class="sk-aim sk-t">skeleton</span>
      <div class="sk-aim" style="width: 20px;height:20px"></div>
      <div class="sk-aim" style="width: 20px;height:20px"></div>
    </div>
  </div>
</div>
<ng-template #emptyTemplate>
  <div class="card card--empty">
    <div class="card-body">
      <i class="fas fa-duotone fa-trash"></i>
    </div>
  </div>
</ng-template>

<div class="card" *ngIf="activeTab == 'All' && !loading">
  <ng-container *ngIf="todos?.length; else emptyTemplate">
    <ng-container *ngFor="let todo of todos">
      <ng-container *ngIf="!todo.completed">
        <div class="todo-list" id="{{todo.id}}"
             [ngClass]="{
           'todo-list--completed': todo.completed,
           'todo-list--disabled': disabled || finishAll}">
          <input type="checkbox"
                 id="{{todo.id}}"
                 (change)="completeTodo(todo)"
                 [checked]="todo.completed || finishAll"/>
          <span (click)="viewTodo(todo)">{{todo.title}}</span>
          <i class="fas fa-edit" (click)="editTodo(todo)"></i>
          <i class="fas fa-trash" (click)="deleteTodo(todo)"></i>
        </div>
      </ng-container>
    </ng-container>
  </ng-container>
</div>

  <div class="card" *ngIf="activeTab == 'Completed' && !loading">
    <ng-container *ngIf="todos?.length; else emptyTemplate">
      <ng-container *ngFor="let todo of todos">
        <ng-container *ngIf="todo.completed">
          <div class="todo-list" id="{{todo.id}}"
               [ngClass]="{
             'todo-list--completed': todo.completed,
             'todo-list--disabled': disabled || finishAll}">
            <input type="checkbox"
                   id="{{todo.id}}"
                   (change)="completeTodo(todo)"
                   [checked]="todo.completed || finishAll"/>
            <span (click)="viewTodo(todo)">{{todo.title}}</span>
            <i class="fas fa-trash" (click)="deleteTodo(todo)"></i>
          </div>
        </ng-container>
      </ng-container>
    </ng-container>
  </div>

