.card {
  box-shadow: 0 0 1.25rem rgb(31 45 61 / 8%);
  margin-bottom: 20px;
  border: 0 !important;
  border-radius: 10px;
  transition: background .2s ease-in-out;
  min-height: 300px;
  overflow: hidden;

  &-body {
    padding: 0;
    // min-height: 240px;
  }

  &--empty {
    padding: 2rem;
    height: 240px;

    i {
      font-size: 100px;
      position: absolute;
      z-index: 1;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: rgba(125, 125, 131, 0.15);
    }
  }
}

.todo-list {
  padding: 16px 25px;
  color: #7d7d83;
  display: flex;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid #e8e8e8;
  cursor: pointer;

  span {
    flex: 1;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
    overflow: hidden;
  }

  &:last-child {
    border: 0;
  }

}

input[type=checkbox] {
  width: 16px;
  height: 16px;
}

.card-loading {
  display: flex;
  min-height: 300px;
}