<div class="card">
  <div class="card-body">
    <ng-container *ngIf="loading" style="width: 100%;">
      <div class="todo-list skeleton" *ngFor="let todo of [0,1,2,4]">
        <div class="sk-aim" style="width: 20px;height:20px"></div>
        <span class="sk-aim sk-t">skeleton</span>
        <div class="sk-aim" style="width: 20px;height:20px"></div>
        <div class="sk-aim" style="width: 20px;height:20px"></div>
      </div>
    </ng-container>

    <ng-container *ngIf="!loading">
      <div (click)="viewTodo(todo)" class="todo-list" *ngFor="let todo of todos" id="{{ todo }}">
        <input type="checkbox" />
        <span>{{todo.title}}</span>
        <i class="fas fa-edit" (click)="editTodo(todo, $event)"></i>
        <i class="fas fa-trash" (click)="deleteTodo(todo, $event)"></i>
      </div>
    </ng-container>
    <ng-container *ngIf="!todos?.length && !loading">
      <div class="todo-list card--empty">
        <i class="fas fa-duotone fa-trash"></i>
      </div>
    </ng-container>

  </div>
</div>