.card {
  box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.036);
  border: 0 !important;
  border-radius: 10px;
  transition: background .2s ease-in-out;
  height: max-content;
  min-height: 300px;

  &-body {
    padding: 25px;
  }

  &__empty {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-footer {
    display: flex;
    gap: 1rem;
    background: #fff;
    justify-content: space-between;
  }
}

.btn {
  font-weight: 700;
  padding: 9px 24px;
  border-radius: 7px;
  font-size: 14px;
  min-width: 150px;
}