.page-layout {
    display: grid;
    grid-template-rows: max-content;
    width: 100vw;
    height: 100vh;
    background: #f8faf9;
    grid-gap: 1rem;
    padding: 1rem 1rem;
    grid-template-columns: 1fr;
    @media screen and (min-width: 768px) {
        grid-template-columns: repeat(12, 1fr);
        padding: 2rem 2rem;
        grid-gap: 1.5rem;
    }
    @media screen and (min-width: 1024px) {
        padding: 4rem 4rem;
        grid-gap: 2rem;
    }

}

.card--action {
    @media screen and (min-width: 768px) {
        grid-row: 1 / span 2;
        grid-column: 1 / span 5;
    }
    @media screen and (min-width: 1024px) {
        grid-column: 1 / span 3;
    }

}

.card--header-action {
    @media screen and (min-width: 768px) {
        grid-row: 1 / span 1;
        grid-column: 6 / span 9;
    }
    @media screen and (min-width: 1024px) {
        grid-column: 4 / span 9;
    }
}

app-todo-list {
    overflow: hidden;
    @media screen and (min-width: 768px) {
        grid-row: 2/span 1;
        grid-column: 6 / span 9;
    }
    @media screen and (min-width: 1024px) {
        grid-column: 4 / span 5;
    }

}

app-todo-view {
    overflow: hidden;
    @media screen and (min-width: 768px) {
        grid-row: 3/span 1;
        grid-column: 6 / span 9;
    }
    @media screen and (min-width: 1024px) {
        grid-column: 9/span 4;
        grid-row: 2 / span 1;
    }

}

.card {
    box-shadow: 0 0 1.25rem rgba(31, 45, 61, 0.036);
    border: 0 !important;
    border-radius: 10px;
    transition: background 0.2s ease-in-out;
    height: max-content;
    &-body {
        padding: 25px;
    }
    @media screen and (max-width: 767px) {
        .btn {
            width: 100%;
        }
    }
}

.todo-action {
    margin: 2rem 0 0;

    div {
        display: flex;
        gap: 1rem;
        align-items: center;
        padding: 9px 20px;
        color: rgba(125, 125, 131, 0.8);
        font-weight: 700;
        font-size: 13px;
        border-radius: 10px;
        transition: all 0.2s ease-in-out;
        margin-bottom: 3px;
        overflow: hidden;
        line-height: 23px;
        cursor: pointer;

        &:hover,
        &.active {
            background: rgba(#28a745, 0.05);
            color: #5fd0a5;
        }
    }
    @media screen and (max-width: 767px) {
        display: flex;
        align-items: center;
        gap: 10px;
        div{
            flex: 1;
        }
    }
}

.btn {
    font-weight: 700;
    padding: 9px 24px;
    border-radius: 7px;
    font-size: 14px;
}

.action-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .btn {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;
    }
}

.completed-all {
    opacity: .3;
    pointer-events: none;
    transition: all .3s;
}
