<div class="page-layout">
    <div class="card card--action">
        <div class="card-body">
            <button class="btn btn-success btn-block" (click)="addTodo()">
                Create New Task
            </button>
            <div class="todo-action">
                <ng-container *ngFor="let tab of tabs; index as i">
                    <div (click)="activeTabFun(tab)" [ngClass]="{'active': activeTab ==  tab.text}">
                        <i class="{{tab.icon}}"></i>{{tab.text}}
                    </div>
                </ng-container>
            </div>
        </div>
    </div>
    <div class="card card--header-action">
        <div class="card-body">
            <div class="action-header">
                <ng-container *ngIf="activeTab == 'All'">
                    <button class="btn btn-primary" (click)="completeAll()" [disabled]="!hasTodoItem">
                        <i class="fas fa-check"></i>Complete All
                    </button>
                </ng-container>
                <ng-container *ngIf="activeTab == 'Completed'">
                    <button class="btn btn-danger" (click)="DeleteAll()" [disabled]="!hasCompletedItem">
                        <i class="fas fa-trash"></i>Delete All
                    </button>
                </ng-container>

            </div>
        </div>
    </div>
    <app-todo-list [finishAll]="finishAll" (todoViewEvent)="todoItemEvent($event)"
        (todoItemEvent)="todoItemEvent($event)" [activeTab]="activeTab"></app-todo-list>
    <app-todo-view (todoViewEvent)="todoItemEvent($event)" [todo]="viewTodo" [activeTab]="activeTab"></app-todo-view>
</div>
<app-todo-modal [todo]="editTodo" [editMode]="editMode" (todoUpdatedEvent)="todoItemEvent($event)"
    (todoClosedEvent)="todoItemEvent($event)"></app-todo-modal>
<app-todo-alert></app-todo-alert>
<app-loader></app-loader>