<div class="page-layout">
  <div class="card card--action">
    <div class="card-body">
      <button (click)="openTodoModal()" class="btn btn-success btn-block">
        Create New Task
      </button>
      <div class="todo-action">
        <div><i class="fas fa-bars"></i>All</div>
        <div><i class="fas fa-check"></i>Completed</div>
        <div><i class="fas fa-trash"></i>Deleted</div>
      </div>
    </div>
  </div>
  <div class="card card--header-action">
    <div class="card-body">
      <div class="action-header">
        <button class="btn btn-primary">
          <i class="fas fa-check"></i>Complete All
        </button>
        <button class="btn btn-danger">
          <i class="fas fa-trash"></i>Delete All
        </button>
      </div>
    </div>
  </div>
  <app-todo-list></app-todo-list>
  <app-todo-view></app-todo-view>
</div>

<app-todo-add-update></app-todo-add-update>



<!-- <div class="alert alert alert-success" role="alert" *ngIf="showAlert">
  {{alertText}}
</div> -->

<!-- <div class="card">
  <form [formGroup]="todoForm" class="input-group" novalidate>
    <input [ngClass]="{'is-invalid': todoError}" type="text" id="todoVal" name="todoVal" formControlName="todoVal"
      class="form-control" placeholder="Add Task">
    <div class="input-group-append">
      <button (click)="addTodo()" class="btn btn-outline-secondary" type="submit">Add <i
          class="bi bi-plus-lg"></i></button>
    </div>
  </form>


  <div class="card__content">
    <div>
      <div class="todo-group " *ngFor="let todo of todoLists; let i = index" (click)="viewTodo(i)"
        [class.active]="selectedIndex === i">
        <input type="checkbox" (change)="todoComplete($event, i)">
        <span [ngClass]="{'completed': todo.completed==true}">{{todo.text}}</span>
        <button class="btn btn-danger" (click)="deleteTodo(i)"><i class="bi bi-x"></i></button>
      </div>
    </div>

    <div class="card__details">
      <div>
        {{todoText}}
      </div>
      <div class="todo-empty" *ngIf="false">
        Epty

      </div>
    </div>`
  </div>
  {{todoLists | json}}
</div> -->