<div class="page-layout">
    <div class="card card--action">
        <div class="card-body">
            <button class="btn btn-success btn-block" (click)="createTodo()">
                Create New Task
            </button>
            <div class="todo-action">
                <div class="active"><i class="fas fa-bars"></i>All</div>
                <div class=""><i class="fas fa-check"></i>Completed</div>
            </div>
        </div>
    </div>
    <div class="card card--header-action">
        <div class="card-body">
            <div class="action-header">
                <button class="btn btn-primary">
                    <i class="fas fa-check"></i>Complete All
                </button>
                <button class="btn btn-danger">
                    <i class="fas fa-trash"></i>Delete All
                </button>
            </div>
        </div>
    </div>
    <app-todo-list (todoItemEvent)="todoItemEvent($event)"></app-todo-list>
    <app-todo-view [todo]="viewTodo" (todoViewEvent)="todoItemEvent($event)"></app-todo-view>
</div>
<app-todo-modal [todo]="editTodo" [editMode]="editMode" (todoUpdatedEvent)="todoItemEvent($event)" (todoClosedEvent)="todoItemEvent($event)"></app-todo-modal>
<app-todo-alert></app-todo-alert>
<app-loader></app-loader>