.btn {
  font-weight: 700;
  padding: 9px 24px;
  border-radius: 7px;
  font-size: 14px;
}

.todo-input {
  width: 100%;
  padding: 12px 25px;
  height: auto;
  border-radius: 25px;
  border: 1px solid #e8e8e8;
  font-size: 12px;
  font-weight: 700;
  color: #5c6662;
  outline: 0;
}

.modal {
  .modal-dialog {
    z-index: 1050;
    margin-top: 5rem;
  }

  .modal-title {
    font-size: 14px;
    font-weight: 700;
    color: #5c6662;
    line-height: 21px;
  }

  .close {
    font-size: 18px;
    outline: 0;
  }

  .modal-content {
    border: 0;
    box-shadow: 0 3px 10px rgb(62 85 120 / 5%);
    border-radius: 10px;
  }

  .modal-header {
    border-bottom: 0;
    padding: 25px 25px 20px;
  }

  .modal-body {
    padding: 0 25px;
  }

  .modal-footer {
    padding: 20px 25px 25px;
    border: 0;
  }

  &.show {
    display: block;
  }
}