.container {
    position: absolute;
    top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    width: max-content;
    overflow: hidden;
    z-index: 1030;
}

.alert {
    position: relative;
    display: flex;
    align-items: center;
    gap: 10px;
    z-index: 1060;
    margin-bottom: 1rem;
    min-width: 360px;
    font-weight: 600;
}

span {
    flex: 1;
}

button {
    box-shadow: none !important;

}