.skeleton {
    position: relative;

    .sk-aim {
        background: linear-gradient(to right,
                rgba(255, 255, 255, 0),
                rgba(255, 255, 255, 0.5) 50%,
                rgba(255, 255, 255, 0) 80%),
            lighten(lightgray, 10%);
        background-repeat: repeat-y;
        background-size: 50px 200px;
        background-position: 0 0;
        border-radius: 2px;
        animation: shine 1s infinite;
    }

    .sk-t {
        color: transparent;
        margin-bottom: 0;
        display: block;
    }
}

@keyframes shine {
    to {
        background-position: 100% 0,
    }
}