<div class="modal show" *ngIf="showModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="todoForm" (ngSubmit)="onSubmit()">
        <div class="modal-header">
          <h5 class="modal-title">{{ modalTitle }}</h5>
          <button type="button" (click)="closeTodoModal()" class="close">
            <i class="fas fa-close"></i>
          </button>
        </div>
        <div class="modal-body">
          <input formControlName="todoText" type="text" class="todo-input" id="new-task-name" placeholder="Task Name" />
        </div>
        <div class="modal-footer">
          <button (click)="closeTodoModal()" type="button" class="btn btn-secondary">
            Cancel
          </button>
          <button type="submit" class="btn btn-primary" [disabled]="!todoForm.valid">
            {{ modalActionText }}
          </button>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-backdrop fade show"></div>
</div>